
# EXPO_PUBLIC_API_BASE_URL=https://uat.fda.id.vn
# EXPO_PUBLIC_SIGNALR_HUB_URL=https://uat.fda.id.vn/hubs/flood-data
# EXPO_PUBLIC_VIETMAP_API_KEY=270a3621503a52acfa718a6c2dfd47062a68f0e75b55ae42
# EXPO_PUBLIC_API_BASE_URL=http://192.168.100.127:5232
# EXPO_PUBLIC_SIGNALR_HUB_URL=http://192.168.100.127:5232/hubs/flood-data

# FDA Prediction API
# EXPO_PUBLIC_PREDICTION_API_BASE=https://ai.fda.id.vn
# EXPO_PUBLIC_PREDICTION_API_KEY=